<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>공지사항 상세페이지</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/static/css/reset.css">
    <link rel="stylesheet" href="/static/css/admin/admin_sub/admin_sub_notice/sub_noticeUpdate_style.css">
</head>

<body>

<div id="wrap">

    <div th:insert="~{admin/fragment/side.html::side_f}"></div>
    <div class="main-wrap">
        <div th:insert="~{admin/fragment/header.html::header_f}"></div>
        <main>
            <h4>게시판 > 공지사항 상세보기</h4>
            <form>
                <table class="memUpdate-wrap">
                    <tr>
                        <th>제목 :</th>
                        <td>[[${notice.boardNoticeSubject}]]</td>
                    </tr>
                    <tr>
                        <th>작성자 :</th>
                        <td>[[${notice.boardNoticeWriter}]]</td>
                    </tr>
                    <tr>
                        <th>첨부파일 :</th>
                        <td>
                            <th:block th:if="${file.isEmpty()}">
                                첨부파일이 없습니다.
                            </th:block>
                            <th:block th:unless="${file.isEmpty()}">
                                <th:block th:each="file:${file}">
                                    <div>
                                        <img th:src="@{|/static/noticeImages/${file.folderName}/${file.savedFileName}|}">
                                        <span>[[${file.originalName}]]</span>
                                    </div>
                                </th:block>
                            </th:block>
                        </td>
                    </tr>
                    <tr>
                        <th>내용 :</th>
                        <td>[[${notice.boardNoticeContent}]]</td>
                    </tr>

                </table>
                <div class="bottom-area">
                    <div class="bottom-left">
                        <p>작성일 : <span>[[${notice.boardNoticeRegdate}]]</span></p>
                    </div>
                    <div class="bottom-right">
                        <a th:href="@{/admin/noticeUpdate?(boardNoticeId=${notice.boardNoticeId})}" class="btn2 yellow">수정</a>
                        <button type="button" class="btn2 red" th:onclick="deleteNotice([[${notice.boardNoticeId}]])">삭제</button>
                    </div>
                </div>
                <input type="hidden" name="boardNoticeId" th:value="${notice.boardNoticeId}">
            </form>
        </main>
    </div>
</div>
    <script>
        function deleteNotice(id){
            if(confirm("게시물을 삭제 하면 복구할 수 없습니다.\n 삭제하시겠습니까?")){
                $.ajax({
                    type: "get",
                    url: "/admin/noticeDelete",
                    dataType: "json",
                    data:{boardNoticeId: id},
                    success: function (res){
                        if(res.mes == "success"){
                            alert("게시물이 삭제 됩니다.");
                            location.href = "/admin/notice";
                        }
                    }
                });
            }
        }
    </script>
</body>

</html>