<!DOCTYPE html>
<html lang="ko">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>부대시설</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://fonts.googleapis.com/css2?family=Sunflower:wght@300;500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Gothic+A1&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../../static/css/reset.css">
    <link rel="stylesheet" href="../../../static/css/sub/sub_facil/style.css">
</head>
<body>
    <div id="wrap">
    
        <!-- header -->
    
        <header th:insert="~{fragment/header.html::header_f}"></header>
    
        <main>
            <div class="sub-title-wrap">
                <div class="sub-title-bg">
                    <div class="sub-title-area">
                        <h3 class="sub-title">Facilities</h3>
                        <div class="line"></div>
                        <p class="sub-title-txt">개비리길 펜션의 부대시설들을 소개합니다.</p>
                    </div>
                </div>
            </div>

            <section class="tab-menu-wrap">
                <ul class="tab-menu">
                    <li class="active"><a href="#tab1" class="btn">바베큐장</a></li>
                    <li><a href="#tab2" class="btn">수영장</a></li>
                    <li><a href="#tab3" class="btn">노래방</a></li>
                    <li><a href="#tab4" class="btn">족구장</a></li>
                </ul>
            
                <div class="show-area">
                    <div id="tab1" class="cont">
                        <img src="../../../static/images/바베큐.jpg" alt="바베큐장 사진" />
                        <p>
                            저희 개비리길 펜션에 오시면 깔끔한 바베큐장에서 맛있는 음식들을 드시며 좋은 추억을 만들어 가실 수 있습니다.
                        </p>
                    </div>
                    <div id="tab2" class="cont">
                        <img src="../../../static/images/8-1.jpg" alt="수영장 사진" />
                        <p>
                            저희 개비리길 펜션은 수영장 수질관리에 최선을 다하여 무더운 날 온가족, 친구, 연인과 함께 깨끗하고 쾌적한 수영장에서 더위를 식히실 수 있습니다.
                        </p>
                    </div>
                    <div id="tab3" class="cont">
                        <img src="../../../static/images/7-1.jpg" alt="노래방 사진" />
                        <p>
                            저희 개비리길 펜션은 각 동마다 노래방이 설치되어있어 자연속에서 음악을 즐기며 아름다운 추억을 만들어 가실 수 있습니다.
                        </p>
                    </div>
                    <div id="tab4" class="cont">
                        <img src="../../../static/images/족구장.jpg" alt="족구장 사진" />
                        <p>
                            저희 개비리길 펜션은 족구장이 구비되어있어 자연속 풍경에서 건강을 얻어감과 동시에 즐거움까지 챙겨가실 수 있습니다.
                        </p>
                    </div>
                </div>
            </section>
        </main>
    
        <!-- footer 시작-->
    
        <footer th:insert="~{fragment/footer.html::footer_f}"></footer>
    </div>

    <script src="../../../static/js/header_nav.js"></script>
    <script src="../../../static/js/sub/sub_facil/tab.js"></script>
</body>
</html>