<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>header</title>
</head>
<body>
<div th:fragment="header_f" class="header-wrap">

    <header class="top-title">
        <h3><a href="/admin">관리자페이지</a></h3>
        <div class="categ">
            <ul class="users">
                <li><a href="/">펜션 메인</a></li>
                <li><a href="/login">로그아웃</a></li>
                <li><a href="#">마이페이지</a></li>
            </ul>
            <nav class="top-nav">
                <div id="horizontal-underline"></div>
                <div class="underline">
                    <a href="/admin/members">회원관리</a>
                    <a href="/admin/reserveList">예약관리</a>
                    <a href="/admin/notice">고객센터</a>
                    <a href="/admin/roomSetting">환경설정</a>
                </div>
            </nav>
        </div>
    </header>

</div>
</body>
</html>