@charset 'utf-8';
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* font-family: 'Roboto', sans-serif; */
    /* font-family: 'Noto Sans KR', sans-serif; */
    font-family: 'Sunflower', sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #555;
}

ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #555;
}

header {
    background-color: rgba(225, 232, 234, 0.82);
    width: 100%;
    height: 100px;
    transition: 0.2s;
}

.header-wrap {
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.logo {
    width: 70px;
    height: 70px;
    padding-top: 15px;
}

.logo img {
    width: 100%;
}

.nav-box {
    width: 80%;
    height: 100px;
}

.users {
    display: flex;
    justify-content: right;
    width: 100%;
    height: 45px;
}

.users li {
    margin-left: 15px;
    line-height: 45px;
}

.users li a {
    font-size: 12px;
}

nav {
    float: right;
    width: 700px;
    height: 55px;
    /* display: flex; */

}

.nav-main {
    display: flex;
    justify-content: space-between;
}

.main-menu {
    height: 55px;
    font-size: 20px;
    line-height: 55px;
    text-align: center;

}

.main-menu:hover {
    border-bottom: 2px solid #fff;
}

.main-menu a {
    color: #000;
    font-weight: 500;
}



.sub-menu {
    visibility: hidden;
    z-index: 9999;

}

.sub-menu li {
    font-size: 16px;
    width: 100%;
    height: 40px;
    line-height: 40px;
    padding: 0 5px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
    /* border-bottom: 1px solid #fff; */
}

.sub-menu li:hover {
    background-color: #adadad;
}

.sub-menu li:first-child {
    border-radius: 5px 5px 0 0;
}

.sub-menu li:last-child {
    border-bottom: 0;
    border-radius: 0 0 5px 5px;
}

/* main 시작 */
.sub-title-wrap {
    width: 100%;
    height: 300px;
    background-image: linear-gradient(rgba(84, 84, 84, 0.5), rgba(84, 84, 84, 0.5)), url('/static/images/펜션sub_intro.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.sub-title-bg {
    max-width: 1200px;
    height: 300px;
    margin: 0 auto;
    display: flex;
    justify-content: start;
    align-items: center;
}

.sub-title {
    font-size: 30px;
    letter-spacing: 2px;
    color: #fff;
    font-family: 'Gothic A1', sans-serif;
}

.sub-title-txt {
    font-size: 14px;
    letter-spacing: 1.5px;
    color: #fff;
    font-family: 'Gothic A1', sans-serif;
}

.line {
    margin: 5px 0 12px 0;
    width: 100px;
    height: 2px;
    background-color: #fff;
}

/* ----------------------------------------------- */
.wrapAll {
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    width: 1200px;
    padding: 150px 0;
}

.wrap {
    width: 80%;
    border-radius: 3px;
}

.sub-navigate-nav {
    width: 15%;
}

.sub-navigate-nav h4 {
    margin-bottom: 15px;
    font-size: 20px;
}

.sub-navigate-nav li {

    margin-bottom: 5px;
}

.sub-navigate-nav li a:hover {
    color: tomato;
}

.input {
    padding: 0.5rem 0.75rem;
    font-size: 14px;
    color: #212529;
    background-color: #fff;
    border: 1px solid #ced4da;
    display: block;
    border-radius: 3px;
    outline: 0;
}

.width-100 {
    width: 100%;
}

.width-15 {
    width: 15%;
}

.height-400 {
    height: 400px;
}

.wrap ul li {
    margin-top: 20px;
    margin-bottom: 5px;
}

.input:focus {
    border: 2px solid #86b7fe;
}

.btn2 {
    padding: 8px 12px;
    color: #fff;
    border-radius: 3px;
    font-size: 14px;
    cursor: pointer;
    border: 0;
}

.blue {
    background-color: #2185D0;
}

.red {
    background-color: #DB2828;
}

.noto {
    font-family: 'Noto Sans KR', sans-serif;
}