@charset 'utf-8';
 
#wrap {
   width: 100%;
   display: flex;
   justify-content: space-between;
 }  
/*사이드네비바 시작*/
.content-wrap{
   position: fixed;
   background-color: #333;
   width: 13%;
   height: 100vh;
   padding: 20px;
   margin: 0 auto;
   
}

.logo-wrap {
   text-align: center;
}
.logo-img {
   margin-top: 20px;
   width: 50%;
   height: 50%;    
}

.side-nav {
  width: 100%;
  margin: 30px 0;
  padding: 0 15px;

}
.side-nav div {
   margin-bottom: 20px;
}

.side-nav-title {
  
  color: #fff;
}
.side-nav li::before {
   content: "-";
   margin-right: 8px;
   color: #fff;
}
/*수정*/
ul {
  font-weight: bold;

}
li a{
  
  color: #fff;
}
li a:hover {
  color: #2185D0;
}
/*수정*/

.banner-wrap {
   text-align: center;
   margin-top: 50%;
   width: 100%;
   height: 200px;
}
.banner {
   margin: 0 auto;
   width: 80%;
   height: 30%;
}

/*사이드네비바 끝*/

/*탑네비바 시작*/
.main-wrap {
   width: 87%;
   margin-left: 13%;
   justify-content: end;
}
.top-title {
   
   display: flex;
   justify-content: space-between;
   align-items: center;
   border-bottom: 1px solid #333;
   height: 130px;
   
   
}
.top-title h3 {
   margin-left: 35px;
}

 .underline {
   margin: 30px 25px;
 }
 .underline a {
   margin: 0 15px;
   display: inline-block;
 }
 .underline a:last-child {
   margin-right: 10px;
 }

 .underline a:hover {
   box-shadow: 0 3px 1px -1px #2185D0;
 }

 .users {
 font-size: 12px;
 display: flex;
 justify-content: end;
 margin-right: 25px;  
}
.users a:hover {
   color: #2185D0;
}
.users li a{
   color: #000;
   padding: 10px;
}
 /* 탑네비바 끝 */
 
/*메인시작*/

main section {
   padding: 30px 0;
}
main section:nth-child(odd) {
   background-color: #f7f7f7;
}

.section-wrap {
   /* padding: 10px 0;
   width: 100%; */
   display: flex;
   justify-content: space-between;
   
}

.section-container {
   width: 50%;
   padding: 0 20px;
}

.section-container:first-child{
   border-right: 1px solid #ccc;
}
 .section-wrap .reserve-title {
     width: 80%;
     margin: 0 auto;
     margin-bottom: 20px;
 }
#calendar {
    width: 80%;
    height: 50%;
    margin: 0 auto;
}
.color-room{
    width: 80%;
    margin: 0 auto;
}
.color-room-A{
    width: 10px;
    height: 10px;
    display: inline-block;
    background-color: #ff9f89;
}
.color-room-B{
    width: 10px;
    height: 10px;
    display: inline-block;
    background-color: #406fd6;
}


a {
   color: #333;
   text-decoration: none;
}
ul li {
   list-style: none;
}
table {
   border-collapse: collapse;
   width: 100%;
}
.admin-table tr th:nth-child(1),
.admin-table tr th:nth-child(4),
.admin-table tr th:nth-child(6){
   width: 7%;
}
.admin-table tr th:nth-child(3){
   width: 10%;
}
.admin-table tr th:nth-child(5),
.admin-table tr th:nth-child(7){
   width: 15%;
}

.member-table tr th:nth-child(1){
   width: 2%;
}
.member-table tr th:nth-child(2),
.member-table tr th:nth-child(3){
   width: 5%;
}
.member-table tr th:nth-child(4),
.member-table tr th:nth-child(5){
   width: 7%;
}
.member-table tr td {
   text-align: center;
}

/* .section-box {
   box-shadow: 0 0 5px 0.25rem #eee;
   border: 1px solid #ccc;
   width: 100%;
   max-width: 95%;
   margin: 30px auto;
   padding: 10px;
   border-radius: 3px;
} */
form {
   text-align: right;
   margin-bottom: 5px;
   display: flex;

}
th, td {
   border: 1px solid #eee;
}
tr {
   height: 45px;
}
tr:first-child {
   background-color: #f7f7f7;
}
.admin-table th{
   background-color: #2c3e50;
   color: #fff;
}
td {
   text-align: center;
   background-color: #fff;
}
td:nth-child(2){
   text-align: left;
   padding-left: 8px;
}

.cnt-wrap {
   margin-top: 10px;
}
.cnt {
   color: #f00;
   font-weight: bold;
   text-decoration: underline;

}
a.active:hover {
   text-decoration: underline;
   font-weight: bold;
}
 
