<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>관리자 페이지</title>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../../../static/css/admin/reset.css">
    <link rel="stylesheet" href="../../../../static/css/admin/admin_sub/admin_sub_reserveList/sub_style.css">
</head>

<body>

<div id="wrap">

    <div th:insert="~{admin/fragment/side.html::side_f}"></div>
    <div class="main-wrap">
        <div th:insert="~{admin/fragment/header.html::header_f}"></div>
        <main>
            <h4>고객센터 > 예약내역 확인</h4>

            <form class="top-search">
                    <span class="cnt-wrap">
                        전체 예약 수 : [[${cnt}]]개
                    </span>
                <div>
                    <select name="searchType" class="searchType">
                        <option value="">전체</option>
                        <option value="room_A">A동</option>
                        <option value="room_B">B동</option>
                    </select>
                    <input type="submit" class="btn" value="search">
                </div>
            </form>
            <table>
                <tr>
                    <th>번호</th>
                    <th>객실</th>
                    <th>예약자</th>
                    <th>체크인 날짜</th>
                    <th>체크아웃 날짜</th>
                    <th>예약날짜</th>
                    <th>결제상태</th>
                    <th>비고</th>
                </tr>
                <tr th:each="rl:${reserveList}">
                    <td>[[${rl.id}]]</td>
                    <td>[[${rl.roomName}]]</td>
                    <td>[[${rl.reserveName}]]</td>
                    <td>[[${rl.checkin}]]</td>
                    <td>[[${rl.checkout}]]</td>
                    <td>[[${#temporals.format(rl.settlementTime, 'yyyy-MM-dd')}]]</td>
                    <td>
                        <th:block th:if="${rl.settlementState eq 1}">
                            결제 완료
                        </th:block>
                        <th:block th:unless="${rl.settlementState eq 1}">
                            결제 취소
                        </th:block>
                    </td>
                    <td>
                        <a href="#" class="btn2 yellow" onclick="">예약정보</a>
                        <a href="#" class="btn2 red" th:onclick="reserveDelete([[${rl.orderNum}]])">예약취소</a>
                    </td>
                </tr>
            </table>
            <div class="bottom">
                <div class="bottom-center">
                    <a href="">1</a>
                </div>
            </div>
        </main>
    </div>
</div>
<script>
    function reserveDelete(orderNum){
        if(confirm("예약 정보를 삭제 하시면 복구할수 없습니다.\n 삭제하시겠습니까?")){
            $.ajax({
                type: "get",
                url: "/admin/reserveListDelete",
                dataType: "json",
                data: {orderNum: orderNum},
                success: function(res){
                    if(res.mes == "success"){
                        alert("예약정보가 삭제 됩니다.");
                        location.href = "/admin/reserveList";
                    }else if(res.mes == "failure"){
                        alert("결제 취소 후 삭제 바랍니다.");
                        location.href = "/admin/reserveList";
                    }
                }
            });
        }

    }
</script>
</body>

</html>