@charset 'utf-8';

@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css");
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* font-family: 'Roboto', sans-serif; */
    /* font-family: 'Noto Sans KR', sans-serif; */
    font-family: 'Sunflower', sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #555;
}

ul, li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #555;
}

.red {
    background-color: #dc3545;
}

.green {
    background-color: #198754;
}

.blue {
    background-color: #0d6efd;
}

.gray {
    background-color: #eee;
}

.btn {
    display: block;
    margin: 0;
    border: 0;
    padding: 8px 12px;
    font-size: 16px;
    font-family: 'Noto Sans KR', sans-serif;
    color: #fff;
    cursor: pointer;
}

table {
    border-collapse: collapse;
}

textarea {
    resize: none;
}

.preview{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    width: 100%;
    text-decoration: underline;
}

.check-page {
    color: tomato;
}

/* footer 시작 */

footer {
    padding: 40px 0;
    width: 100%;
    background-color: #9EA2A9;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 16px;
    color: #000;
}

.footer-wrap {
    max-width: 1200px;
    height: 120px;
    margin: 0 auto;
}

.footer-wrap ul {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-logo {
    margin-bottom: 60px;
}

.copyright p {
    font-size: 16px;
    color: #000;
    margin-bottom: 5px;
}

.tell p:first-child {
    margin-bottom: 10px;
}

.footer-sns {
    width: 65px;
    display: flex;
    justify-content: space-between;
}

.footer-sns a {
    font-size: 25px;
    color: #555;
}

.footer-sns a:hover {
    color: tomato;
}
/* footer 끝 */

/* Anchor 시작 */

.anchor {
    position: fixed;
    right: 5%;
    bottom: 5%;
    width: 35px;
    height: 35px;
    background-color: rgb(139, 131, 131);
    border-radius: 5px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: 0.3s;
    visibility: hidden;
}