<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>header</title>
    </head>
    <body>
    <div th:fragment="header_f" class="header-wrap">

    <!-- 로고 시작 -->

    <h1 class="logo">
        <a href="/">
            <img src="/static/images/logo.png">
        </a>
    </h1>

    <!-- 로고 끝 -->

    <!-- nav 박스 -->

    <div class="nav-box">

        <!-- user 박스 -->

        <ul class="users">
            <th:block th:if="${#strings.isEmpty(session.user)} and ${#strings.isEmpty(session.admin)}">
                <li><a href="/login">로그인</a></li>
                <li><a href="/register">회원가입</a></li>
            </th:block>

            <th:block th:unless="${#strings.isEmpty(session.user)} and ${#strings.isEmpty(session.admin)}">
                <li><a href="/mypage/myinfo/checkpw">마이페이지 <i class="fa-solid fa-user"></i></a></li>
                <li><a href="/logout">로그아웃</a></li>
            </th:block>
        </ul>

        <!-- user 박스 끝 -->

        <!-- nav 시작 -->

        <nav>
            <ul class="nav-main">
                <li class="main-menu main-menu1">
                    <a href="/intro/about">펜션소개</a>
                    <ul class="sub-menu sub-menu1">
                        <li><a href="/intro/about">펜션소개</a></li>
                        <li><a href="/intro/navigate">찾아오시는 길</a></li>
                        <li><a href="/intro/recom">주변 볼거리</a></li>
                    </ul>
                </li>
                <li class="main-menu main-menu2">
                    <a href="#">객실안내</a>
                    <ul class="sub-menu sub-menu2">
                        <li><a href="#">A동 안내</a></li>
                        <li><a href="#">B동 안내</a></li>
                    </ul>
                </li>
                <li class="main-menu main-menu3">
                    <a href="/reserve/checkroom">예약</a>
                    <ul class="sub-menu sub-menu3">
                        <li><a href="/reserve/checkroom">예약하기</a></li>
                        <li><a href="/reserve/reserveCheck">예약 확인</a></li>
                    </ul>
                </li>
                <li class="main-menu main-menu4">
                    <a href="/facil">부대시설</a>
                </li>
                <li class="main-menu main-menu5">
                    <a href="/board/notice">커뮤니티</a>
                    <ul class="sub-menu sub-menu5">
                        <li><a href="/board/notice">공지사항</a></li>
                        <li><a href="/board/qna">QnA</a></li>
                        <li><a href="#">리뷰</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>

    <!-- nav 박스 끝 -->
</div>
</body>
</html>