body {
    background-color: rgba(137, 199, 215,0.3);
}

.logo_box {
    margin: 0 auto;
    width: 100px;
    height: auto;
    box-sizing: border-box;
    margin-top: 30px;
    margin-bottom: 40px;
}

img {
    width: 100%;

}

form h1 {
    text-align: center;
    margin-bottom: 40px;
}

.login_box {
    margin: 0 auto;
    padding: 10px 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    background-color: rgba(255, 255, 255);
    transform: translate(-50%, -50%);
    border-radius: 15px;
    box-shadow: 0px 4px 5px 3px #555;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

}

input {
    width: 100%;
    margin-left: 10px;
    border: 0;
    border-bottom: #ccc;
    font-size: 16px;
    padding: 15px 5px;
    outline: 0;

}

button {
    width: 100%;
    padding: 14px 0;
    border-radius: 50px;
    border: 0;
    background-color: rgba(137, 199, 215);
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    transition: 0.5s;
}

button:hover {
    background-color: rgba(137, 199, 215, 0.5);
    color: #666;
}


li {
    width: 100%;
    border: 1px solid #88c6d6;
    border-radius: 50px;
    margin-bottom: 20px;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li:nth-child(3) {
    border: 0;
    padding: 0;
}

li:last-child {
    border: 0;
    padding: 0 10px;
}

.find_account_link,
.regist_link {
    font-size: 13px;
}

.copyright {
    width: 100%;
    padding: 20px 0;
    /* background-color: #ccc; */
    font-size: 12px;
    text-align: center;
}