<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../../../static/css/reset.css">
    <link rel="stylesheet" href="../../../static/css/sub/sub_login/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
</head>
<body>
<div class="login_box">
    <h1 class="logo_box">
        <a href="/">
            <img src="../../../static/images/logo.png" alt="logo">
        </a>
    </h1>
    <form action="">

        <ul>
            <li>
                <i class="fa-regular fa-user"></i>
                <input type="text" class="userid" placeholder="ID">
            </li>
            <li>
                <i class="fa-solid fa-unlock-keyhole"></i>
                <input type="password" class="userpw" placeholder="PassWord">
            </li>
            <li>
                <button class="btn">로그인</button>
            </li>
            <li>
                <a href="/find/findId" class="find_account_link">아이디/비밀번호 찾기</a>
                <a href="/register" class="regist_link">회원가입</a>
            </li>
        </ul>
    </form>
    <div class="copyright">
        copyright &copy; All Rights Reserved.
    </div>
</div>
<script src="../../../static/js/sub/sub_login/login.js"></script>
</body>
</html>