body {
    background-color: rgba(137, 199, 215,0.3);
}

.wrap {
    margin: 0 auto;
    padding: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 700px;
    background-color: rgba(255, 255, 255);
    transform: translate(-50%, -50%);
    border-radius: 15px;
    box-shadow: 0px 4px 5px 3px #555;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.logo_box {
    margin: 0 auto;
    width: 100px;
    height: auto;
    box-sizing: border-box;
    margin-top: 30px;
    margin-bottom: 40px;
}

img {
    width: 100%;
}

form {
    background-color: #fff;
}

form h2 {
    margin-bottom: 40px;
}

input {
    border: 1px solid #ccc;
    vertical-align: middle;
    padding: 5px 0 5px 5px;
    outline: 0;
}

.tab_box {
    position:relative;
    border-bottom: 2px solid rgba(137, 199, 215);
}

.tab_box ul {
    display: flex;
}

.tab_box ul li a {
    display: block;
    width: 130px;
    height: 40px;
    line-height: 40px;
    text-align: center;
}

.tab_box ul li:last-child {
    border-width: 2px 2px 0 2px;
    border-style: solid;
    border-color: rgba(137, 199, 215);
    background-color: #fff;
    margin: 0 0 -3px;
}

.tab_box ul li:first-child {
    border-top: 1px solid #d6d6d6;
    border-left: 1px solid #d6d6d6;
    background-color: #f8f8f8;
}

.remove_line {
    position: absolute;
    bottom:-4px;
    width: 100%;
    height: 2px;
    background-color: #fff;
    z-index:9999;
}

table {
    width: 100%;
    margin-top: 50px;
    border-top: 2px solid #969696;
    border-collapse: collapse;
}

tr {
    border-bottom: 1px solid #ddd;
}

th {
    width: 20%;
    padding: 14px 30px;
    background-color: #eef1f8;
    font-size: 14px;
    border-right: 1px solid #ddd;
}

td {
    padding-left: 20px;
}

.section_bottom {
    text-align: right;
    margin-top: 30px;
}

.find_pw_button {
    padding: 8px 12px;
    border: 0;
    cursor: pointer;
}

.new_table th {
    width: 30%;
}

.new_table td input {
    width:40% ;
}

.goto_login a {
    color: #fff;
}

.show {
    display: block;
}

.hidden {
    display: none;
}

.green {
    color: #00af00 ;
}

.fa-check {
    color: tomato;
}

.ment {
    margin-top: 20px;
    font-size: 12px;
}

.new_table {
    margin-top: 20px;
}

.change_pw_btn_box {
    display: flex;
    justify-content: center;
    width: 100%;
}

.change_pw_btn {
    margin-top: 20px;
    border: 0;
    text-align: center;
    width: 150px;
    padding: 10px 30px;
    font-size: 20px;
    color: #fff;
    background-color: #0c97e7;
    cursor: pointer;
}

.mt10 {
    margin-top: 10px;
}