<!DOCTYPE html>
<html lang="ko">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>개비리길 펜션</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://fonts.googleapis.com/css2?family=Sunflower:wght@300;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/reset.css">
    <link rel="stylesheet" href="../static/css/main/style.css">
</head>
<body>
    <div id="wrap">
    
        <!-- header -->
        <header th:insert="~{fragment/header.html::header_f}"></header>

    
        <!-- main -->
    
        <main>
            <div class="main-bg"></div>
    
            <!-- room 시작 -->
    
            <section class="room">
                <div class="room-wrap">
                    <h2>Room's Preview</h2>
                    <p class="line"></p>
                    <p class="room-title-intro">개비리길 펜션의 객실을 소개합니다.</p>
                    <div class="room-a">
                        <div class="room-a-imgbox">
                            <a href="#">
                                <img src="../static/images/거실.jpg" alt="a동">
                            </a>
                        </div>
                        <div class="room-intro">
                            <h3>A동</h3>
                            <p>복층형, 온돌방, 침대</p>
                            <a class="room-btn" href="#">자세히보기</a>
                        </div>
                    </div>
                    <div class="room-b">
                        <div class="room-intro">
                            <h3>B동</h3>
                            <p>복층형, 온돌방, 침대</p>
                            <a class="room-btn" href="#">자세히보기</a>
                        </div>
                        <div class="room-b-imgbox">
                            <a href="#">
                                <img src="../static/images/9-2.jpg" alt="b동">
                            </a>
                        </div>
                    </div>
                </div>
            </section>
    
            <!-- room 끝 -->
    
            <!-- banner 시작 -->
    
            <section class="banner">
                <div class="banner-wrap">
                    <p>
                        바쁜 일상속의 편안한 피난처<br />
                        개비리길 펜션으로 오세요.
                    </p>
                </div>
            </section>
    
            <!-- banner 끝 -->
    
            <!-- 부대시설 시작 -->
    
            <section class="facil">
                <div class="facil-wrap">
                    <h2>Pension's Facility</h2>
                    <p class="line"></p>
                    <p class="room-title-intro">개비리길 펜션의 부대시설을 소개합니다.</p>
    
                    <ul class="facil-item">
                        <li class="facil-item-1">
                            <a href="/facil">
                                <p>바베큐장</p>
                            </a>
                        </li>
                        <li class="facil-item-2">
                            <a href="/facil">
                                <p>수영장</p>
                            </a>
                        </li>
                        <li class="facil-item-3">
                            <a href="/facil">
                                <p>노래방</p>
                            </a>
                        </li>
                        <li class="facil-item-4">
                            <a href="/facil">
                                <p>족구장</p>
                            </a>
                        </li>
                    </ul>
                </div>
            </section>
    
            <!-- 부대시설 끝 -->
    
            <!-- 주변 볼거리 시작 -->
    
            <section class="near">
                <div class="near-wrap">
                    <h2>Nearby's Attraction</h2>
                    <p class="line"></p>
                    <p class="room-title-intro">개비리길 펜션의 주변 볼거리를 소개합니다.</p>
    
                    <div class="near-introbox">
                        <div class="near-textbox">
                            <h3 class="near-text-title">주변의 볼거리</h3>
                            <p class="near-text-txt">개비리길 펜션에 오시면 아름다운 풍경을 즐기실 수 있습니다.</p>
                        </div>
                        <div class="near-imgbox">
                            <ul>
                                <li class="near-img1"><a href="/intro/recom"></a></li>
                                <li class="near-img2"><a href="/intro/recom"></a></li>
                                <li class="near-img3"><a href="/intro/recom"></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
    
    
            </section>
    
            <!-- 주변 볼거리 끝 -->
        </main>
    
        <!-- footer 시작-->
    
        <footer th:insert="~{fragment/footer.html::footer_f}"></footer>

        <!-- Anchor -->

            <a href="#top" class="anchor">
                <i class="fa-solid fa-arrow-up"></i>
            </a>
    </div>

    <script src="../static/js/header_nav.js"></script>
    <script src="../static/js/main/main_facil.js"></script>
    <script src="../static/js/main/main_near.js"></script>
    <script src="../static/js/anchor.js"></script>
</body>
</html>