<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>관리자 페이지</title>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../static/css/admin/reset.css">
    <link rel="stylesheet" href="../../static/css/admin/main/style.css">

</head>

<body>

    <div id="wrap">

        <div th:insert="~{admin/fragment/side.html::side_f}"></div>
        <div class="main-wrap">
            <div th:insert="~{admin/fragment/header.html::header_f}"></div>
            <main>
                <section>
                    <div class="section-wrap">
                        <div class="section-container">
                            <div class="section-title">
                                <h4>예약일정</h4>
                            </div>
                            <div class="section-content">
                                <img src="../../static/images/admin_images/logo.png" height="500px">
                            </div>
                        </div>
                        <div class="section-container">
                            <div class="section-title">
                                <h4>결제</h4>
                            </div>
                            <div class="section-content">
                                정산 다이어그램
                            </div>
                        </div>
                    </div>
                </section>
                <section>
                    <div class="section-wrap">
                        <div class="section-container">
                            <div class="section-title">
                                <h4>QnA</h4>
                            </div>
                            <div class="section-content">
                                QnA게시글
                            </div>
                        </div>
                        <div class="section-container">
                            <div class="section-title">
                                <h4>리뷰</h4>
                            </div>
                            <div class="section-content">
                                리뷰게시글
                            </div>
                        </div>
                    </div>
                </section>
                <section>
                    <div class="section-container">
                        <div class="section-title">
                            <h4>공지사항</h4>
                        </div>
                        <div class="section-content">
                            공지사항게시글
                        </div>
                    </div>
                </section>
            </main>
        </div>
    </div>

</body>

</html>